
.forecast-day-container {
    border: 1px solid #808080;
    border-radius: 6px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    width: 150px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.forecast-day-date {
    font-weight: 700;
}

.forecast-day-high {
    font-size: x-large;
}

.forecast-day-low {
    font-size: small;
}
